html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: url("./images/background.jpeg");
  background-size: cover;
}

.wrapper {
  width: 75%;
  margin: auto;
}

.navigation__menu {
  background: rgba(27, 32, 33, 0.8);
  padding: 10px;
  width: auto;
  white-space: nowrap;
}

.navigation__menu ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.navigation__menu ul li {
  display: inline;
  margin-left: 30px;
}

.navigation__menu a {
  color: #e3dc95;
  text-transform: uppercase;
  font-family: fantasy;
  top: 0px;
  margin: auto;
}

.navigation__menu a:hover {
  color: orange;
}

.top {
  background: rgba(27, 32, 33, 0.8);
  padding: 1px;
  color: orange;
  text-align: center;
}

.bikes {
  background-color: rgba(28, 30, 31, 0.8);
}

.bikes__header {
  color: #e3dc95;
  font-size: 20px;
}

.bikes__bike-type {
  color: rgb(168, 160, 141);
}

.bikes__bike-description-header {
  color: orange;
}

.bikes__bike-description {
  color: plum;
}

.bikes__bike-price {
  color: red;
}

.author {
  background-color: rgba(28, 30, 31, 0.8);
}

.author__header {
  color: red;
}

.author__about-header {
  color: orange;
}

.author__description {
  color: skyblue;
}

a:hover {
  color: grey;
}

.footer {
  color: white;
}

.img {
  height: 150px;
  width: auto;
}

a {
  color: darkgrey;
}

p {
  color: white;
}